<div class="col-sm-6">
  <h1>Welcome!</h1>
  <p>Check out all the nice workout programs we have.</p>
  <p>If you want to see an exercise, click <a href="/exercises">the exercises page</a> and get started</p>
  <p>If you want to get started register a user by <a href="/users/new">signing up</a> or <a href="/users/login">Log in</a> if you already have a user</p>
</div>