<div class="data-form">
    <form class="form-signin" action="/workoutPrograms/create" method="POST">
    <h2 class="form-signin-header">Create new workout program: </h2>
    <label for="inputTitle">Title</label>
    <input type="text" name="title" id="inputTitle" class="form-control"
        placeholder="Title" autofocus>
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" class="form-control"
        placeholder="Description">
        <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Create program</button>
    </form>
</div>