<div class="data-form">
        <form class="form-signin" action="<%=`/workoutPrograms/${workoutProgram._id}/newExercise?_method=PUT`%>" method="POST">
        <h2 class="form-signin-header">Add new exercise: </h2>
        <label for="inputExercise">Exercise</label>
        <input type="text" name="name" id="inputExercise" class="form-control"
            value="" placeholder="Exercise type" autofocus required>
        <label for="inputDescription">Description</label>
        <input type="text" name="description" id="inputDescription" class="form-control"
            value="" placeholder="Description" required>
        <label for="inputSets">Set</label>
        <input type="number" min="0"  max="9999" name="numberOfSets" id="inputSets" class="form-control"
        value="<%= workoutProgram.sets %>" placeholder="0" required>
        <label for="inputRepsTime">Reps/time</label>
        <input type="text" name="repsOrTime" id="inputRepsTime" class="form-control"
        value="<%= workoutProgram.Reps %>" placeholder="0" required>
            <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Add Exercise</button>
        </form>
        <a href="<%=`/workoutPrograms/${workoutProgram._id}`%>"> 
            <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Cancel</button>
        </a>
    </div>