<div class="data-form">
        <form class="form-signin" action="<%=`/workoutPrograms/${workoutProgram._id}/newExercise?_method=PUT`%>" method="POST">
        <h2 class="form-signin-header">Edit workout program: </h2>
        <label for="inputTitle">Title</label>
        <input type="text" name="title" id="inputTitle" class="form-control"
            value="<%= workoutProgram.title %>" placeholder="Title" autofocus>
        <label for="inputDescription">Description</label>
        <input type="text" name="description" id="inputDescription" class="form-control"
            value="<%= workoutProgram.description %>" placeholder="Description">
            <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
        </form>
    </div>