<div class="data-form">
    <form class="form-signin" action="/users/create" method="POST">
        <h2 class="form-signin-header">Create new user:</h2>
        <label for="inputFirstName">First Name</label>
        <input type="text" name="first" id="inputFirstName" class="form-control"
            placeholder="First" autofocus>
        <label for="inputLastName">Last Name</label>
        <input type="text" name="last" id="inputLastName" class="form-control"
            placeholder="Last">
        <label for="inputEmail">Email Address</label>
        <input type="email" name="email" id="inputEmail" class="form-control"
            placeholder="Email address" required>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control"
            placeholder="Password" required>
        <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
</div>